

#dragondrop-min-bar {
	background-color: grey;
	border-radius: 5px;
	width: 100%;
	height: 100%;
}

.dragondrop-min-pop {
	display: inline-block;
}


.annoPopup {
  	border: 1px solid grey;
	border-radius: 5px;
}

.dragondrop-handlebar {
	background-color: buttonface;
	/*cursor: pointer;*/
}

.dragondrop-handlebar-obj {
	display: inline-block;
}