

#dragondrop-min-bar {
	background-color: grey;
	border-radius: 5px;
	width: 100%;
	height: 100%;
}

.dragondrop-min-pop {
	display: inline-block;
}


.annoPopup {
  	border: 1px solid grey;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dragondrop-handlebar {
	background-color: buttonface;
	/*cursor: pointer;*/
}

.dragondrop-handlebar-obj {
	display: inline-block;
}

.ui-resizable-handle {
	width: 10px;
	height: 100%;
	background-color: buttonface;
	border-radius: 5px;
}

.ui-effects-transfer {
    border: 1px solid grey;
 }

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}